
.bio-pic{
	height : 50vh;
	
  display: flex;
}
.bio-content-wrapper{
	font-size: 1em;
	font-weight: 100;
  margin: auto 0;
  height: 100%;
  width: auto;
  
  float: right;
  flex-grow: 100;
  overflow: hidden;
  height: 50vh;
}
.image-wrapper{
	max-width: 40%;
  display: flex;
}


.wrapper-left{
  padding-left : 4%;
}
.wrapper-right{
  padding-right :4%;
}
.bio-page{
	width: calc(100% - 9em);
  overflow-x: hidden;
	display:flex;
  flex-wrap:wrap;
  margin: 0 auto; 
  margin-left:4%;
  margin-right:4%;
  padding-top: 1%;
  animation-timing-function: linear;
  -webkit-animation: in 500ms linear ;
  animation: in 500ms linear ;
}
  @keyframes in{
    0% {
     opacity:0;
    }
    100%{
    opacity :1;
    }
  }

@media screen and (max-width: 1100px) {

  .reverse-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  .bio-page{
    width: 100%;
     margin: 0 auto; 
  }
  .bio-pic{
   
   max-width: 90vw;
  max-height: 50vh;
   
   margin: 0 auto;
  }
  .image-wrapper{
    max-width: 100%;
  }
	
	.bio-page{
    overflow-x : hidden;
    column-count: 1;
	 flex-direction: column;	
	}
	.bio-content-wrapper{
		width: 100%;
    padding-top: 5%;
    padding-left: 0%;
	}


  .wrapper-right{
    padding:0% !important;
  }
}


@media screen and (max-width: 900px) {
   .wrapper-right{
    padding:0% !important;
  }
.bio-page{
  width: 90%;
  margin: 0 auto; 

  }
   .bio-pic{
   width: auto;
   margin: 0 auto;
   max-width: 90vw;
  max-height: 500vh;
    
  }
}

