.activisim-page{
  background: linear-gradient(rgba(255,255,255,0.53), rgba(255,255,255,0.08)) !important;
}
.activism-container{
  display: flex;
  flex-direction: column;
  width: auto;
  width: calc(100% - 9em);
  margin: 0 5em 0 3.5em; 
  z-index: 1;
  padding-top: 1%;
  animation-timing-function: linear;
  -webkit-animation: in 2500ms linear ;
  overflow: hidden;
  animation: in 2500ms linear ;
  height: auto;
  min-height: 90vh;
}
.activism-menu{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.thanks-to{
  display: flex;
  flex-direction: row;
  float: right;
  margin: 0 auto;
}
.dd-container{
  width: 30%;
  margin: 0 auto;
}
.thanks-text{
  font-weight : 500;
  font-size : 1em;
  margin-top : 0;
  padding-top : 0;
  line-height: 120%;
  letter-spacing : 0.25em;
  text-align: center;
  margin: 10px;
  color: black;
}
.thanks-link{
  color: black;
  text-transform: none;
  text-decoration: underline;
}
.activism-section{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.inactive-campaign{
  
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.inactive-content{
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: absolute;
  top:0;
  margin: 0 auto;
}
.inactive-content h1{
  font-family: 'HarryDuncan';
  font-size: 2.5em;
  text-align: center;
}

.inactive-content p{
  font-weight : 500;
  font-size : 1em;
  margin-top : 0;
  padding-top : 0;
  line-height: 120%;
  letter-spacing : 0.25em;
  text-align: center;
  margin: 10px;

}
.inactive-background{
  background-color: white;
  opacity: 0.8;
  height: 100%;
  width: 100%;
}

.aids-ribbon{
  position: absolute;
  bottom: 40%;
  z-index: -1;
  right:  39%;
}
.pane{
  width: 100vw;
  z-index: 100;
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,0.53), rgba(255,255,255,0.08));;
 
}
.campaign-title{
  font-family: 'HarryDuncan';
  font-size: 2.5em;
  margin: 0 auto;
}
.campaign-subtitle{
  display: flex;
  margin : 0 auto;
  align-self: center;
  letter-spacing: 0.2em;
  padding: 5px 5px;
  font-size: 1em;
  font-weight: 500;
  text-align : center;
}
.campaign-total{
    align-self: center;
    letter-spacing: 0.2em;
    padding: 5px 5px;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}
.action-section{
  float: right;
  display: inline-block;
  width: 40%;
}
.donation-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2em;
  z-index: 100;
}
.donation-modal-container{
  width: 50vw;
  height: auto;
}
.donation-modal-section{
  padding: 2%;
  margin-bottom: 2em;
}
.info-container-title{
  font-family: 'HarryDuncan'; 
  font-size: 1em;
  font-weight: 700;
  text-align : center;
  cursor: pointer;
}
.info-receipt{
  margin : 4%;
  letter-spacing: 0.15em;
  font-size: 1.5em;
}

.item-title{   
 font-family: 'HarryDuncan'; 
  text-decoration: underline;
}
.action-title{
  font-family: 'HarryDuncan'; 
}

.inner-link{
  color: black;
  text-decoration: underline;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1.5em;
  font-family: 'HarryDuncan'; 
}
.info-content{
  width: 50em;
}
.info-content span{
  font-size: 1.2em;
}
.info-section{
  width : 33%;
  cursor: pointer;
  text-align: center;
}
.section-1{
  background-color:#595959;
  color: white;
}
.info-link{
  color: black;
  text-decoration: underline;
}
.info-section-2{
  background-color: #d6221d;
  color: white;
}
.section-3{
   background-color:black;
   color: white;
}
.good{
  color : green;
  font-size: 0.9em !important;
}
.bad{
  font-size: 0.9em !important;
  color :red;
}
.sub-title{

}
@Media only screen and (max-width: 900px){

  .activism-container{
      width: 96%;
      margin: 0 auto;
      flex-direction: column;
      height: fit-content;
     
    }

  .activism-section{
      flex-direction: column;
    }
  .action-section{
    display: flex;
    width: 100%;
    
  }

  .dd-container{
    width: 80%;
    margin: 0 auto;
  }
  .activism-menu{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }
  .aids-ribbon{
    display: none;
  }
  .donation-section{
    
      bottom: 0;
      
      left: 0;
      width: 100%;
  }

.info-section{
  width : 100%;
  text-align: center;
  }
  .info-content{
    text-align: center;
    width: 100%;
    }
    .inactive-campaign{
      width: 80%;
       height: 100vh;
    }
  
  }