.page{
  clear : both;
  padding-top: 4em;
  width: 100%;
  margin-right: 1em;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden !important;
  
}
.gallerySection{
  display: block;
  width: auto;
  width: calc(100% - 9em);
  column-gap: 30px;
  column-fill: initial;
  -webkit-column-fill: initial;
  margin: 0 5em 0 3.5em; 
  column-count: 4;
  padding-top: 1%;
	animation-timing-function: linear;
  -webkit-animation: in 2500ms linear ;
  overflow-x: hidden;
  animation: in 2500ms linear ;
}
  @keyframes in{
    0% {
     opacity:0;
    }
    100%{
    opacity :1;
    }
  }

a {
  color: #8ff;
}

#menu {
  position: absolute;
 
  width: 100%;
  text-align: center;
  z-index: 300;
}

.element {
  width: 300px;
  height: 460px;
  -webkit-box-shadow: 15px 15px 16px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    15px 15px 16px  #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         15px 15px 16px #ccc;
 
  text-align: center;
  line-height: normal;
  cursor: pointer;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}

  .element .number {
   height: 100%;
  }

  .element .symbol {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255,255,255,0.75);
    text-shadow: 0 0 10px rgba(0,255,255,0.95);
  }

  .element .details {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    color: rgba(127,255,255,0.75);
  }

button {
  color: black;
  background: transparent;
  outline: 1px solid black;
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0,255,255,0.5);
}

button:active {
  color: #000000;
  background-color: rgba(0,255,255,0.75);
}

@Media only screen and (max-width: 900px){
  .page{
    padding-top: 10vh;

  }

  .gallerySection{
     column-count: 1;
     width: 94%;
     margin: 0 auto;
  }

}