.footer-container{
	width: 100vw;
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: white;
	height: 10vh;
	 animation-timing-function: linear;
  -webkit-animation: in 2500ms linear ;
  animation: in 2500ms linear ;
}
.footer-left{
	width: 40%;
	float: left;
	background-color: white;
	flex-direction: column;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}
.footer-center{
	width: 20%;
	display: flex;
	background-color: white;
	flex-direction: column;
	margin-top: 15px;
}
.footer-link{
	  color: black;
	  font-size: 13px;
	  text-decoration: none;
	  letter-spacing: 0.2em;
	  padding: 5px 5px;
	  position: relative;
	 
	  text-decoration: underline;
}
.footer-right{
	width: 40%;
	float: right;
	background-color: white;
	flex-direction: column;
	margin-top: 15px;
}
.footer-container p{
  color: black;
  font-size: 10px;
  text-decoration: none;
  letter-spacing: 0.2em;
  padding: 5px 5px;
  position: relative;
  margin: 0 auto;
}


@Media only screen and (max-width: 900px){
	.footer-container{
	width: 100vw;
	display: flex;
	flex-direction: column;
	position: relative;
	height: auto;
	}
	.footer-link{
		margin: 0  auto;
	}
	.footer-container p{
		text-align: center;
	}
	.footer-left{
		width: 100%;
	}
	.footer-right{
		width: 100%;
	}
	.footer-center{
		width: 100%;
	}

}