.page-footer{
	width: 100%;
	display: flex;
	background-color: white;
	flex-direction: column;
	margin-top: 15px;

}
.page-footer p{
  color: black;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 0.2em;
  padding: 5px 5px;
  position: relative;
  margin: 0 auto;
}