.card-container{
	width: 50%;
    background: white;
    position: absolute;
    top: 40%;
    margin: 0 auto;
    left: 25%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}